// Application typography definition
@use '@base-styles-variables/fonts' as f;
@use '@base-styles-variables/colors' as c;

// Headings
@mixin h1() {
    color: c.$default;
    font-family: f.$ff-headings;
    font-size: 36px;
    font-style: normal;
    font-weight: f.$fw-regular;
    line-height: 38px;
}

@mixin h2() {
    color: c.$default;
    font-family: f.$ff-headings;
    font-size: 30px;
    font-style: normal;
    font-weight: f.$fw-regular;
    line-height: 32px;
}

@mixin h3() {
    color: c.$default;
    font-family: f.$ff-headings;
    font-size: 24px;
    font-style: normal;
    font-weight: f.$fw-regular;
    line-height: 26px;
}

// Titles
@mixin t1() {
    color: c.$default;
    font-family: f.$ff-body-text;
    font-size: 22px;
    font-style: normal;
    font-weight: f.$fw-bold;
    line-height: 24px;
}

@mixin t2() {
    color: c.$default;
    font-family: f.$ff-body-text;
    font-size: 20px;
    font-style: normal;
    font-weight: f.$fw-bold;
    line-height: 22px;
}

// Body text
@mixin b1() {
    color: c.$default;
    font-family: f.$ff-body-text;
    font-size: 20px;
    font-style: normal;
    font-weight: f.$fw-regular;
    line-height: 22px;
}

@mixin b2() {
    color: c.$default;
    font-family: f.$ff-body-text;
    font-size: 16px;
    font-style: normal;
    font-weight: f.$fw-regular;
    line-height: 18px;
}

@mixin b3() {
    color: c.$default;
    font-family: f.$ff-body-text;
    font-size: 14px;
    font-style: normal;
    font-weight: f.$fw-regular;
    line-height: 16px;
}
